
/* Dashboard container */
.dashboard-container {
    max-width: 1500px; 
    margin: 0 auto;
    padding: 0 15px;
}

/* Greeting box styles */
.greeting-box {
    background-color: #9DB2BF;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    display: flex; 
    align-items: center;
}
/* Greeting text styles */
.greeting-text h1,
.greeting-text h4 {
    margin: 0;
    margin-left: 40px !important;
    padding: 0;
    color: white;
}

.greet {
    color: #27374D !important;
    margin-right: 5px;
    margin-bottom: 10px !important;
}

.greet-2 {
    color: white;
    margin-bottom: 10px !important;
}

.greet-3 {
    font-size: 21px;
    color: white;
    margin-top: 5px;
}

.greet-4 {
    color: #27374D;
}

/* Greeting icon container */
.greeting-icon-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* Greeting icon styling */
.greeting-icon {
    width: 150px;
    height: 100px;
}

/* Project stats container styles */
.stat-box {
    background-color: #526D82;
    border-radius: 25px;
    padding: 20px;
    box-shadow:inset 0 0 0 1px #BBBBBB, 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 auto;           
    min-width: 200px;        
    box-sizing: border-box;  
}
.stat-box-1 {
    background-color: #27374D;
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 0 1px #BBBBBB, 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 auto;           
    min-width: 200px;         
    box-sizing: border-box; 
}
.no-data{
    width: 250px;
    height: 220px;
}
.no-data-placeholder{
    display: none; 
    text-align: center; 
    margin-top: 20px;
    height: 500px;
}
/* Stat content styles */
.stat-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin: 0 10px;            
    box-sizing: border-box;    
}
/* Stat content styles */
.stat-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stat-icon {
    width: 100px;
    height: 75px;
    margin-right: 10px;
}
.stat-icon-1 {
    width: 100px;
    height: 75px;
    margin-right: 10px;
}
.stat-icon-2 {
    width: 95px;
    height: 75px;
    margin-left: -30px;
}
.stat-label {
    font-size: 1em;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    padding-right: 15px;
    font-weight: bold;
}
.stat-label-dept {
    font-size: 1em;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    padding-right: 15px;
    font-weight: bold;
}

.stat-number {
    font-size: 1.5em;
    color: #75C9DE;
    margin: 0;
    font-weight: bold;
}
.stat-number-dept {
    font-size: 1.5em;
    color: #75C9DE;
    margin: 0;
    font-weight: bold;
    margin-right: 15px;
}
.stat-label-1 {
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    padding-right: 15px;
    font-weight: bold;
}
.stat-number-3 {
    font-size: 30px;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align:start;
    font-weight: bold;
}
.stat-number-4 {
    font-size: 20px;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align:start;
    font-weight: bold;
}
/* Outer container for projects table */
.projects-outer-box {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-left: 80px;
    padding-top: 40px;
    box-shadow:inset 0 0 0 1px #BBBBBB, 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-height: 600px; 
    max-height: calc(100vh - 60px);
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
}

.projects-inner-box {
    flex-grow: 1; 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#projectChart {
    width: 100%;
    height: 500px;
    min-height: 300px; 
    max-height: 700px;
    overflow: auto;
    transition: height 0.3s ease, width 0.3s ease;
}

.dropdown {
    display: flex; 
    align-items: center; 

}

.dropdown .btn-secondary.dropdown-toggle {
    border-radius: 25px; 
    background-color: #27374D;
    width: 250px;
}

.dropdown-menu {
    padding: 0.5rem; 
    max-width: 250px; 
}

.dropdown-item {
    padding: 0.5rem 1rem; 
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu > li:last-child > a {
    border-bottom: none; 
}

/* Adjust the width of the dropdown to match the button */
.dropdown-menu {
    width: 100%; 
    box-sizing: border-box;
}

@media (max-width: 1160px) {
    .project-stats-container {
        flex-direction: column; 
        flex-wrap: nowrap;      
        gap: 20px;             
    }

    .stat-box {
        flex: 1 1 auto;       
    }
}
/* Media queries for responsiveness */
@media (max-width: 770px) {
    .project-stats-container {
        flex-direction: column; 
        flex-wrap: nowrap; 
    }

    .stat-box {
        flex: 1 1 auto;       
        max-width: none;      
        min-width: auto;
        margin: 10px 0;  
    }
}

@media (max-width: 500px) {
    .projects-outer-box {
        height: auto; 
    }

    .greeting-box {
        padding: 10px;
    }
}

.dropdown-menu {
    max-height: 300px; 
    overflow-y: auto;
}