body {
    background-color: #F5F5F5;
}

.container-1 {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #134B70;
    font-size: 40px;
    border: 1px solid #AEAEAE;
    font-weight: bold;
    margin-bottom: 50px;
    height: 100px;
}

.container-8 {
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; /* Ensures the container is fluid and shrinks */
}

.table {
    width: 100%;  /* Ensure table takes up 100% of container width */
    table-layout: auto;  /* Auto layout to allow columns to resize based on content */
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
}

.table th, .table td {
    padding: 20px;
    text-align: left;
    font-size: 17px !important;
    white-space: nowrap;
}

.table thead th {
    background-color: #27374D;
    color: white;
    font-weight: 600;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table td {
    border-bottom: 0.5px solid #bebebe;
    color: #0f0f0f !important;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Pagination Adjustments */
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #585858;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #27374D;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}

.pagination .page-item.active .page-link {
    color: #ffffff;
    background-color: #27374D;
    border-color: #27374D;
    border-radius: 50px;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #ffffff;
    border-color: #dee2e6;
    pointer-events: none;
    border-radius: 50px;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-radius: 50px;
}

/* Responsive Table for small screens */
@media (max-width: 1010px) {
    .container-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .table th, .table td {
        padding: 15px; /* Adjust padding for smaller screens */
        font-size: 7px;
    }
}

@media (max-width: 576px) {
    .pagination .page-link {
        padding: 6px 10px;
        font-size: 0.875rem;
    }
}
