@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card {
    padding: 20px;
}

.card-header {
    background-color: #27374D;
}

.form-control,
.form-control select {
    border-radius: 10px; 
}

/* Ensure the styling for text areas is also applied */
textarea.form-control {
    border-radius: 10px; 
}

/* Custom style for the submit button */
.btn-submit {
    background-color: #27374D; 
    color: #fff; 
    border: none; 
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Style for the buttons */
.btn-custom {
    border-radius: 25px; 
    width: 100px;
    display: inline-block; 
    margin-left: 10px; 
}

/* Align buttons to the right */
.form-group .btn-container {
    text-align: right;
    margin-top: 20px; 
}

h5 {
    color: #4682b4; 
    margin-bottom: 0px;
}

.form-group label {
    color: #27374D; 
}

.form-control {
    color: #27374D; 
}

/* Container for the heading and dropdown */
.details-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}

/* Ensure proper alignment and width for dropdown */
.dropdown {
    display: flex;
    align-items: center; 
}

.dropdown .btn-secondary.dropdown-toggle {
    border-radius: 25px;
    background-color: #27374D;
}

.dropdown-menu {
    padding: 0.5rem;
    min-width: 150px;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu > li:last-child > a {
    border-bottom: none;
}

/* Adjust the width of the dropdown to match the button */
.dropdown-menu {
    width: 100%; 
    box-sizing: border-box;
}
