body{
    background-color: #F5F5F5;
    color: #585858;
}

.container-1 {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #134B70;
    font-size: 40px;
    border: 1px solid #AEAEAE;
    font-weight: bold;
    margin-bottom: 50px;
    height: 100px;
}
.container-2 {
    text-align: center;
    border-radius: 5px;
    background-color: #27374D;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 19px !important;
    margin-bottom: 30px;
    height: 80px;
}

.container-3 {
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    height: 500px;
    overflow: hidden; 
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-4 {
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
    overflow: hidden; 
}

.text-graph {
    font-weight: bolder;
    margin-top: 1px; 
}

#chart-container {
    width: 100%;
    height: 350px;
}
#projectDetails
{
  width: 100%;
  height: 350px;
}

.container-8 {
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    height: 350px;
    overflow: hidden; 
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.table {
    width: 100%; 
    table-layout: auto; 
    margin: 0; 
    border-collapse: separate; 
    border-spacing: 0; 
}

.table th, .table td {
    padding: 20px; 
    text-align: left;
    font-size: 17px;
    white-space: nowrap; 
}
.table td {
color: #585858;
}
.table thead th {
    background-color: #27374D;
    color: white;
    font-weight: 600;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table td {
    border-bottom: 0.5px solid #bebebe;
}

/* Optional: adjust the hover effect */
.table tbody tr:hover {
    background-color: #f1f1f1;
}
.download-link {
    text-decoration: underline;
    color: #000000;
    cursor: pointer; 
}
/* Pagination container */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Pagination button (numbered buttons only) */
#pagination button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white; 
    background-color: white; 
    color: #27374D;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for all buttons */
#pagination button:hover {
    background-color: #f0f0f0;
    border-color: transparent;
    color: #1e1e1e; 
}

/* Disabled button */
#pagination button:disabled {
    background-color: #27374D;
    color: #fff;
    border-color: #27374D;
    cursor: not-allowed;
}
#projectList {
    max-height: 300px; 
    overflow-y: auto;
}
#searchField {
    margin-bottom: 10px; 
}
/* Responsive Table for small screens */
@media (max-width: 1010px) {
    .container-3 {
        padding-left: 10px;
        padding-right: 10px;
        height: 400px;
    }

    .table th, .table td {
        padding: 15px; /* Adjust padding for smaller screens */
        font-size: 7px;
    }
}

@media (max-width: 576px) {
    .pagination .page-link {
        padding: 6px 10px;
        font-size: 0.875rem;
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
}

/* Customize the scrollbar */
.table-responsive::-webkit-scrollbar {
    height: 8px; /* Adjust the height for horizontal scrollbars */
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Smooth corners */
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Thumb color */
    border-radius: 10px; /* Smooth corners */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; /* Thumb color on hover */
}

/* For non-WebKit browsers (fallback styles) */
.table-responsive {
    scrollbar-color: #c1c1c1 #f1f1f1; /* Thumb color Track color */
    scrollbar-width: thin; /* Thin scrollbar */
}


.no-data{
    width: 250px;
    height: 220px;
  }
.no-data-placeholder{
    display: none; 
    text-align: center; 
    margin-top: 20px;
    height: 500px;
}
.no-data-placeholder p {
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
/* Ensure the dropdown container is aligned to the right edge */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    width: 100%; 
  }
  .dropdown-details{
    margin-top: 20px;
    margin-right: 20px;
  }

  /* Style the dropdown button */
  .dropdown .btn-secondary.dropdown-toggle {
    border-radius: 25px;
    background-color: #27374D;
    width: 200px; 
    position: relative; 
  }

  /* Hide the default dropdown icon */
  .btn-secondary.dropdown-toggle::after {
    display: none;
  }

  /* Style the Feather icon */
  .icon-edge {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
  }

  /* Style the dropdown menu */
  .dropdown-menu {
    padding: 0.5rem; 
    min-width: 200px; 
    width: 50px; 
    box-sizing: border-box; 
  }

  /* Style dropdown items */
  .dropdown-item {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  /* Remove bottom border from the last item */
  .dropdown-menu > li:last-child > a {
    border-bottom: none;
  }
